{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }

    p {
      font-size: 16pt;
      color: #000;
    }
  </style>
{% endblock %}
{% block content %}
  <div class= 'col-md-8 col-md-offset-2'>
<div id="DIV_1">
    <br/>
    <p id="P_4">

    <!-- <div class="container"> -->
     <h1>Team</h1><hr/>
    <div class="row">
        <div class="col-md-4">
            <div class="imgAbt">
                <img width="220" height="220" src="/static/chris.jpg" />
            </div>
        </div>
        <div class="col-md-8">
            <p>Former Thunders point-guard and reality TV star, Chris comes to our team with a handsome toolbox of analytical expertise. His disciplined lunch trips to 24 hour fitness strengthen his wrists for unparalleled coding mania. </p>
        </div>
    </div>
    <br/><br/>

    <div class="row">
        <div class="col-md-4">
            <div class="imgAbt">
                <img width="220" height="220" src="/static/rohan.jpg" />
            </div>
        </div>
        <div class="col-md-8">
            <p>Rohan gave up a career in Bollywood to earn a PhD in Machine Learning so that he could pursue his passion for parking spot classification. Under his heroic locks is an astute mind writing algorithms to end the world of unknown parking lot capacities.</p>
        </div>
    </div>
    <br/><br/>

    <div class="row">
        <div class="col-md-4">
            <div class="imgAbt">
                <img width="220" height="220" src="/static/VeenaK.jpg" />
            </div>
        </div>
        <div class="col-md-8">
            <p>Former lead choreographer and best friend of Beyonce, we are humbled to have Veena join our efforts in ending the game of parking space musical chairs. With her unmatched mastery of statistical analyses, she will never let you forget--as her best friend would say--"Who Runs the World". </p>
        </div>
    </div>
    <br/><br/>

    <div class="row">
        <div class="col-md-4">
            <div class="imgAbt">
                <img width="220" height="220" src="/static/dh.jpg" />
            </div>
        </div>
        <div class="col-md-8">
            <p>Professor D.H. left his position as Head of Library Studies at the University of North Dakota to indulge us with his plethora of knowledge in the parking lot realm. A mastermind and leader of innovation, D.H. is an integral member of our team. </p>
        </div>
    </div>



    </p>
    <br/>
</div>
</div>
{% endblock %}
