{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class= 'col-md-8 col-md-offset-2'>
<div id="DIV_1">
    <h1>
      Hello, shoppers! 
    </h1>
    <br/>
    <p id="P_4">

      Parklot is an app that analyzes parking lot images and gives a reliable count estimate of the number of vacant and full lot spaces. For shoppers like you this means less waiting to park and more shopping! 
      <br/><hr/>
      Using state of the art image preprocessing and proprietary sift tuning algorithm, Parklot is able to produce an accuracy score of 97.3%.

    </p>
    <br/>
    <p id="P_5">
      <a href="/about">Learn about the team behind this</a>
    </p>
    <br/><br/>

        
            <div class="imgAbt">
                <img width="600" height="400" src="/static/sample.png" />
                <br/><br/><br/><br/>
            </div>
        
            <div class="imgAbt">
                <img width="600" height="400" src="/static/sample1.png" />
                <br/><br/><br/><br/>
            </div>
       

</div>
</div>

<br/>

{% endblock %}

